<%- include('../partials/header'); -%>

    <% b.forEach((topic) => { %>
        <ul>
          <a href="/topic_question/<%= topic._id %>"><h2><%= topic.name %> </h2></a>
        </ul>
        
    <% }) %>
 <%- include('../partials/footer'); -%>

